$orange: #ff9800;
$red: #f44336;
$yellow: #ffeb3b;
$fontSet: 'Arimo', sans-serif;
$white: rgb(255, 255, 255);
$blue: #004feb;

* {
    //border: 1px solid red;

}
.hide {
    display: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $fontSet;

}
img {
    width: 100%;
}
.wrapper {
    width: 100%;
    //@media (max-width: 375px) {
    //  width: 18em;

    //}
    /*set to desired width*/
    height: 100%;
    margin: auto;
    position: relative;

}
.header {
    height: 400px;
    background-color: $orange;
    min-height: 20.8125em;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 4em;
    /* set to desired height*/
    h1 {
        color: white;
        letter-spacing: 0.25em;
        font-size: 2.6em;
        font-weight: 200;
        //margin: 0;
    }
    h2 {
        font-weight: 100;
    }

}
img.mugshot {
    max-height: 10em;
    max-width: 10em;
}
.content {
    h2 {
        color: white;
    }
    color: black;
    width: 100%;
    background-color: $red;
    min-height: 41.25em;
    display: block;
    text-align: center;
    margin-top: 0;
    padding: 1em 0;

}
.project {

    margin: 0 auto;
    //padding-bottom: 1em;
    width: 90%;
    img {
        max-width: 15em;
        max-height: 15em;
        width: 100%;

    }
    .project-title {
        box-sizing: border-box;
        color: $white;
        display: block;
        padding-top: 1em;
        font-size: 13.3px;
        font-weight: bold;
        height: auto;
        letter-spacing: 5.1px;
        line-height: 17.9px;
        text-align: center;
        text-decoration: none;
        width: auto;

    }
    p {
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        display: block;
        font-size: 17.3px;
        font-weight: 300;
        height: 101.3px;
        line-height: 25.4px;
        min-width: 100%;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }

}
.footer {

    background-color: $yellow;
    float: none;
    display: block;
    width: 100%;
    min-height: 20.25em;
    padding-top: 1em;

}
.contact-box {
    text-align: center;
    border: 3px solid $blue;
    width: 90%;
    //min-height: 80%;
    margin: 0 auto;
    max-width: 1024px;
    //margin-top: 1em;
}
